<header>
    <img src="../../../../../assets/img/luiza.jpg"
    style="z-index: 9999;"
    alt="Luiza Oliveira - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager">
    <h1>Luiza Oliveira</h1>
</header>
<aside>
    <div class="toolbar">
        <button (click)="toggleTheme()">Mudar Tema</button>
      </div>
    <div class="container">
        <p>Graduanda em Engenharia de Controle e Automação</p>
        <p>Trainee na área de desktop na Asimov Jr.</p>
        <nav>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/luiza-oliveira-barbosa-chagas-51660421b" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a> 
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img
                    src="assets/icons/whatsapp.svg"
                    alt="Icone para contato do WhatsApp"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5535988159652&text=01%C3%A1%20Luiza,%20preciso%20de%20um%20job!"
                    target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (35)98815-9652</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                    src="assets/icons/mail.svg"
                    alt="Icone para contato do Email"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="mailto:luiza.obc@gmail.com"
                    target="_blank">
                        <strong>Envie um email para:</strong>
                        <p>luiza.obc&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
