:root {
    --primary:#8C7284;
    --primary-010: #7A6174;
    
    --secondary: #9B9FB5;
    --secondary-010: #777B95;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #B1B7D1;
}